<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yesmylord.dms.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.yesmylord.dms.domain.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="userCard" jdbcType="INTEGER" property="usercard" />
  </resultMap>
  <update id="updateUser" parameterType="cn.yesmylord.dms.form.UserInfoForm">
    UPDATE `user` SET
    <if test="name!=null and name!=''">
      name= #{name}
    </if>
    <if test="sex!=null">
      ,sex= #{sex}
    </if>
    <if test="birthday!=null">
      ,birthday=#{birthday}
    </if>
    <if test="userCard != null and userCard != ''">
      ,userCard=#{userCard}
    </if>
    WHERE userId=#{userId}
  </update>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    userId, `name`, sex, birthday, userCard
  </sql>

  <select id="showUserList" resultType="cn.yesmylord.dms.domain.User">
    select * from `user` where state = 0
  </select>

  <update id="updateUserState">
    UPDATE `user` SET
    state=-1
    WHERE userId=#{userId}
  </update>

  <insert id="insertUser" parameterType="cn.yesmylord.dms.form.UserInfoInsertForm">
    insert into `user`(`name`,sex,birthday,usercard,`state`) values (#{name},#{sex},#{birthday},#{userCard},0)
  </insert>

  <select id="searchUserByName" resultMap="BaseResultMap">
    select * from `user` where state = 0 and name like CONCAT('%',#{name},'%')
  </select>
</mapper>